extends layout 

append head
    script(defer, src="static/scripts/auth.js") 

block content
    div.container
        h1.mobile__headline ParkMeTLV
        form(id="signin-form", class="form", class= "inputForm", method="POST")  
            h2.signIn Good To See You Again!
            label(for="userName") User Name:
            input(required, type="text", id="userName", name="userName", placeholder="User Name")
            label(for="password") Password:
            input(required, type="password", id="password", name="password", placeholder="Password")
            button(class="button2") Login
            p.signIn  Forgot Your Password? 
                a(href= "./updatePassword") Update Password

            