extends layout 

append head
    script(defer, src="static/scripts/auth.js") 

block content
    div.container
        h1.mobile__headline ParkMeTLV
        form(id="update-form", class="form", class= "inputForm", method="post")  
            h2.updatePassword Update Your Password
            label(for="userName") User Name:
            input(required, type="text", id="userName", name="userName", placeholder="User Name")
            label(for="newPassword") New Password:
            input(required, type="password", id="newPassword", name="newPassword", placeholder="New Password")
            button(class="button2") Update
    
    