header.header
    h1 ParkMeTLV
    div(class="hamburger", id="hamburger")
        button#burger__label
    nav.navbar
        ul.navbar__list
            li.navbar__item
                a(href="http://localhost:3000/signUp", class="navbar__link") Sign Up
            li.navbar__item
                a(href="http://localhost:3000/contact-us", class="navbar__link") Contact Us
    img(alt="Logo", src="static/media/TLV.jpg", class="logo")